header {
    background-color: #00001a;
    padding: 0px 10px;
    box-sizing: border-box;
}

h1 {
    color: white;
    margin: 5px 0;
    padding: 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    color: white;
    margin-left: 20px;
}
