
Skip to content

    Why GitHub?
                          


                    
Enterprise
Explore
                      

                    
Marketplace
Pricing
                       


                        

Sign in
Sign up
BorealBlizzard /
BorealBlizzard.github.io

0
2

    41

Code
Issues 0
Pull requests 0
Actions
Projects 0
Security
Insights
Join GitHub today

GitHub is home to over 40 million developers working together to host and review code, manage projects, and build software together.
BorealBlizzard.github.io/_layouts/default.html
@BorealBlizzard BorealBlizzard added theme "dark-side" 5c7da52 on Jan 27, 2019
executable file 35 lines (30 sloc) 922 Bytes
---
layout: compress
---
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ page.title }} - {{site.title}}</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>

<body>
<header>
    <nav>
        <ul>
            <li><a href="{{site.baseurl}}/">Home</a></li>
            <li><a href="{{site.baseurl}}/about">About</a></li>
            <li><a href="{{site.baseurl}}/contact">Contact</a></li>
        </ul>
    </nav>
    <a class="title-a" href="{{site.baseurl}}/"><h1 class="title">{{site.title}}</h1></a>
</header>
      
  
  {{ content }}
  
  


